<form> 
  <span class="form-group">
    <label for="employee col-xs-1">EMPLOYEE NAME</label>
    <input type="employee" class="form-control" placeholder="FirstName LastName">
    </span>

    <span class ="form-group col-xs-1">
      <label for="project">Project</label>
      <input type="project" class="form-control" placeholder="NeuTravel">
    </span>
    
    
    <div class="form-group">
    <label for="POT col-xs-1">Purpose Of Travel</label>
    <input type="POT" class="form-control" placeholder="Presence is required">
    <!--<textarea class="form-group" rows="5"></textarea>-->
    </div>
    <div>
    <span class="form-group">
    <label for="travel col-xs-1">Travel-From</label>
    <input type="travel" class="form-control" placeholder="Hyderabad">
    </span>

    <span class ="form-group col-xs-1">
      <label for="to">Travel-To</label>
      <input type="to" class="form-control" placeholder="Bangalore"  >
    </span>
    </div>

      <div>
    <span class="form-group">
    <label for="Start col-xs-1">Start-Date</label>
    <input type="Start" class="form-control" placeholder="2/2/2016">
    </span>

    <span class ="form-group col-xs-1">
      <label for="End">End-Date</label>
      <input type="End" class="form-control" placeholder="2/2/2016"  >
    </span>
    </div>
    <span>
      <input type="button" class="btn btn-primary" value="Submit">
      <input type="button" class="btn btn-primary" value="Cancel">
    </span>


    </form>
    
    
<router-outlet></router-outlet>